---
import { Icon } from "astro-icon";
import Drawer from "../Drawer/Drawer";
import DesktopLink from "./DesktopLink/DesktopLink.astro";
import MobileMenu from "./MobileMenu/MobileMenu.astro";

---

<header class="bg-white sticky w-full py-3 px-4">
  <nav class="flex flex-row gap-2" title="Top Navigation">
    <div class="logo">
      <a href="/">Product</a>
    </div>
    <div class="grow"></div>
    <DesktopLink href="/#accordion">Accordion</DesktopLink>
    <DesktopLink href="/#carousel">Carousel</DesktopLink>
    <DesktopLink href="/#details">Details</DesktopLink>
    <DesktopLink href="/#contact">Contact</DesktopLink>
    <button class="block sm:hidden" type="button" id="menubtn">
      <span class="visually-hidden sr-only">Open navigation menu</span>
      <Icon name="tabler:menu-2" size={24} />
    </button>
  </nav>
</header>

<Drawer client:idle id="menudrawer">
  <MobileMenu />
</Drawer>

<script type="module">
  const menuBtn = document.getElementById('menubtn');

  menuBtn.addEventListener('click', (event) => {
    event.stopPropagation();
    window.dispatchEvent(new CustomEvent('drawer:open', { detail: 'menudrawer' }));
  }, false);
</script>