---
import Drawer from "../Drawer/Drawer";
import MobileMenu from "./MobileMenu/MobileMenu.astro";

---

<header class="header">
  <nav class="nav-wrapper" title="Top Navigation">
    <div class="logo">
      <a href="/">Product</a>
    </div>
    <div class="spacer"></div>
    <a class="desktop-link" href="/#accordion">Accordion</a>
    <a class="desktop-link" href="/#carousel">Carousel</a>
    <a class="desktop-link" href="/#details">Details</a>
    <a class="desktop-link" href="/#contact">Contact</a>
    <button class="mobile-menu" type="button" id="menubtn">
      <span>Open navigation menu</span>
    </button>
  </nav>
</header>

<Drawer client:idle id="menudrawer">
  <MobileMenu />
</Drawer>

<script type="module">
  const menuBtn = document.getElementById('menubtn');

  menuBtn.addEventListener('click', (event) => {
    event.stopPropagation();
    window.dispatchEvent(new CustomEvent('drawer:open', { detail: 'menudrawer' }));
  }, false);
</script>

<style>
  .header {
    background-color: var(--color-header);
    padding: var(--space-md) var(--space-lg);
    width: 100%;
    position: sticky;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-sm);
  }

  .desktop-link {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  @media (min-width: 641px) {
    .desktop-link {
      display: block;
    }

    .mobile-menu {
      display: none;
    }
  }

  .spacer {
    flex-grow: 1;
  }
</style>