---
import { Icon } from "astro-icon";
import Drawer from "../Drawer/Drawer";
import DesktopLink from "./DesktopLink/DesktopLink.astro";
import MobileMenu from "./MobileMenu/MobileMenu.astro";

---

<header id="topheader" class="sticky top-0 left-0 right-0 py-3 px-4 z-10 header-stuck">
  <nav class="flex flex-row gap-2" title="Top Navigation">
    <div class="logo">
      <a href="/">Product</a>
    </div>
    <div class="grow"></div>
    <DesktopLink href="/#accordion">Accordion</DesktopLink>
    <DesktopLink href="/#carousel">Carousel</DesktopLink>
    <DesktopLink href="/#details">Details</DesktopLink>
    <DesktopLink href="/#contact">Contact</DesktopLink>
    <button class="block sm:hidden" type="button" id="menubtn">
      <span class="visually-hidden sr-only">Open navigation menu</span>
      <Icon name="tabler:menu-2" size={24} />
    </button>
  </nav>
</header>

<Drawer client:idle id="menudrawer">
  <MobileMenu />
</Drawer>

<script type="module">
  const menuBtn = document.getElementById('menubtn');
  const topHeader = document.getElementById('topheader');

  menuBtn.addEventListener('click', (event) => {
    event.stopPropagation();
    window.dispatchEvent(new CustomEvent('drawer:open', { detail: 'menudrawer' }));
  }, false);

  window.addEventListener('scroll', () => {
    if (window.scrollY <= 65) {
      topHeader.removeAttribute('stuck')
    }
    if (window.scrollY > 65) {
      topHeader.setAttribute('stuck', '')
    }
  })
</script>

<style>
  .header-stuck {
    background-color: var(--color-header);
  }

  .header-stuck[stuck] {
    background-color: var(--color-header-stuck);
  }
</style>