---
import Drawer from "../Drawer/Drawer";
import MobileMenu from "./MobileMenu/MobileMenu.astro";

---

<header class="bg-white">
  <nav class="nav-wrapper" title="Top Navigation">
    <button type="button" id="menubtn">
      <span>Open navigation menu</span>
    </button>
    <div class="logo flex">
      <a href="/">
        <a href="/">Product</a>
      </a>
    </div>
    <div style="flex-grow: 1;"></div>
  </nav>
</header>

<Drawer client:idle id="menudrawer">
  <MobileMenu />
</Drawer>

<script>
  const menuBtn = document.getElementById('menubtn');

  menuBtn.addEventListener('click', (event) => {
    event.stopPropagation();
    window.dispatchEvent(new CustomEvent('drawer:open', { detail: 'menudrawer' }));
  });
</script>