---
import { Icon } from "astro-icon";
import { t } from "i18next";
import LanguageSelector from "../LanguageSelector/LanguageSelector.astro";

---

<nav class="flex flex-col text-center py-3 px-4 gap-3" title={t("header.title")}>
  <header class="flex flex-row align-middle gap-2">
    <div class="logo flex">
      <a href="/">{t("header.pageName")}</a>
    </div>
    <div class="flex-grow" />
    <LanguageSelector id="mobile-lang-selector" />
    <button type="button" id="menuclose">
      <span class="visually-hidden sr-only">{t("header.close")}</span>
      <Icon name="tabler:x" size={24} />
    </button>
  </header>
  <a href="/#accordion">{t("header.accordion")}</a>
  <a href="/#carousel">{t("header.carousel")}</a>
  <a href="/#details">{t("header.details")}</a>
  <a href="/#contact">{t("header.contact")}</a>
</nav>

<script type="module">
  const closeBtn = document.getElementById('menuclose');

  closeBtn.addEventListener('click', (event) => {
    event.preventDefault();
    window.dispatchEvent(new CustomEvent('drawer:close', { detail: 'menudrawer' }))
  }, false);
</script>