---
import { Icon } from "astro-icon";

---

<nav class="flex flex-col text-center py-3 px-4 gap-3" title="Top Navigation">
  <header class="flex flex-row justify-between gap-2">
    <div class="logo flex">
      <a href="/">Product</a>
    </div>
    <button type="button" id="menuclose">
      <span class="visually-hidden sr-only">Close navigation menu</span>
      <Icon name="tabler:x" size={24} />
    </button>
  </header>
  <a href="/#accordion">Accordion</a>
  <a href="/#carousel">Carousel</a>
  <a href="/#details">Details</a>
  <a href="/#contact">Contact</a>
</nav>

<script type="module">
  const closeBtn = document.getElementById('menuclose');

  closeBtn.addEventListener('click', (event) => {
    event.preventDefault();
    window.dispatchEvent(new CustomEvent('drawer:close', { detail: 'menudrawer' }))
  }, false);
</script>